/* ==================== Google Fonts -  Space Grotesk ==================== */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

/* ==================== CSS Variables ==================== */
:root {
    --header-height: 3.5rem;
    --primary: #4a4a4a;
    --primary-alt: #575757;
    --linear-gradient: linear-gradient(54deg, rgba(45, 45, 45, 0.95) 34%, rgba(45, 45, 45.95));
    --text-color: #555;
    --text-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    --border: #f1f1f1;
    --body-font: 'Space Grotesk', sans-serif;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.74rem;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}

/* ==================== Base ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body, button, input , textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5rem;
}

h1, h2, h3  {
    font-family: var(--body-font);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}

input, textarea {
    outline: none;
    background: none;
    border: none;
}


/* ==================== Reutilizables ==================== */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: .95rem;
    padding-right: .95rem;
}

.grid {
    display: grid;
}

/* ==================== Home ==================== */
.home {
    background: url("https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
    padding-top: 5.5rem;
    position: relative;
}

.home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
}

.home__container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.home__img, .home__data {
    z-index: 10;
}

.home__img {
    width: 90%;
    height: 380px;
    object-fit: cover;
}
