/* ==================== Google Fonts -  Space Grotesk ==================== */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

/* ==================== CSS Variables ==================== */
:root {
    --header-height: 3.5rem;
    --primary: hsla(222, 100%, 56%, 1);
    --primary-alt: hsla(222, 100%, 46%, 1);
    --linear-gradient: linear-gradient(90deg, hsla(222, 100%, 56%, 1) 30%, hsla(222, 100%, 75%, 1) 100%);
    --text-color: #555;
    --text-alt: #ddd;
    --bg-color: hsla(222, 100%, 85%, 1);
    --bg-color-alt: hsla(222, 100%, 90%, 1);
    --border: hsla(222, 100%, 95%, 1);
    --body-font: 'Space Grotesk', sans-serif;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.74rem;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}



/* ==================== Base ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body, button, input , textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: #fff;
    color: var(--text-color);
    line-height: 1.5rem;
}

h1, h2, h3  {
    font-family: var(--body-font);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}

input, textarea {
    outline: none;
    background: none;
    border: none;
}


/* ==================== Reutilizables ==================== */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: .95rem;
    padding-right: .95rem;
}

.grid {
    display: grid;
}

.section {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.12rem;
    font-weight: var(--font-semibold);
}

.text-lg {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: 1.875rem;
}

.text-sm {
    font-size: var(--small-font-size);
    line-height: 1.43em;
}


/* ==================== Header ==================== */
.header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    height: calc(var(--header-height) + .875rem);
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 3.25rem;
    width: 100%;
}

.nav__close, .nav__toggle {
    display: none;
}

.nav__item {
    margin-right: 1.875rem;
}

.nav__link {
    color: #fff;
    font-weight: var(--font-semibold);
    opacity: 1;
    transition: opacity .5s ease;
    position: relative;
}

.nav__link:hover {
    opacity: .5;
}

.nav__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition: width .3s ease;
}

.nav__link:hover::before {
    width: 100%;
}

.active-link::before {
    width: 50%;
}


/* ==================== Home ==================== */
.home {
    background: url("https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
    position: relative;
}

.home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
    opacity: .90;
}

.home__container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.home__img, .home__data {
    z-index: 10;
}

.home__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    cursor: pointer;
}

.home__img:hover {
    transform: scaleX(1.10) scaleY(1.10);
}

.home__img-container {
    position: relative;
    width: 90%;
    height: 380px;
    overflow: hidden;
    z-index: 10;
    transform: translateY(3.125rem);
    border-radius: .25rem;
}

.home__name,.home__work,.home__list, .home__social-link{
    color: #fff;
}

.home__name{
    font-size: var(--h1-font-size);
    line-height: 1.14em;
    margin: 0.9em 0 0.23em;
}

.home__work {
    margin-bottom: 2.5em;
}

.home__list dt {
    float: left;
    width: 4em;
    color: var(--text-alt);
    font-weight: var(--font-semibold);
}

.home__list dd {
    margin-left: 5em;
    margin-bottom: 0.75em;
}

.home__socials {
    margin-top: 1.125rem;
    display: flex;
    align-items: center;
}

.home__social-link {
    color: #fff;
    font-size: 1.125rem;
    margin-right: 1.25rem;
    opacity: .5;
    transition: opacity .5s ease;
}

.home__social-link:hover{
    opacity: 1;
}

/* ==================== Hello ==================== */
.hello__details {
    margin-bottom: 1.67em;
    text-align: justify;
}


/* ==================== Buttons ==================== */
.button{
    display: inline-flex;
    background: var(--primary);
    color: #fff;
    padding: 1.125rem 1.875rem;
    border-radius: 2.5rem;
    transition: background .5s ease;
    cursor: pointer;
    font-weight: var(--font-semibold);
    align-items: center;
    column-gap: .5rem;
    text-transform: uppercase;
}

.button:hover {
    background: var(--primary-alt);
}   



/* ==================== Media Queries ==================== */
/* For small devices */
@media screen and (max-width: 767px) {
    .container {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        padding: 3.5rem 1.875rem 1.875rem;
        transition: right .5s ease;
    }

    .nav__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
    }
    

    .nav__list {
        flex-direction: column;
        row-gap: 1.875rem;
    }

    .nav__link {
        font-size: var(--h2-font-size);
    }

    .nav__toggle {
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
        display: block;
    }

    .show-menu {
        right: 0;
    }

    .home__container {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .home__img {
        display: none;
    }

    .home__socials {
        margin-bottom: 1.875rem;
    }
    .home__data .home__name{
        font-size: 1.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .home__container {
        grid-template-columns: 4fr 8fr;
        column-gap: 1.875rem;
    }
}
